project_name = "eShopLite"
environment  = "dev"
location     = "japaneast"

owner       = "platform-team"
cost_center = "azure-students"
repository  = "owner/repo"

criticality        = "medium"
data_classification = "internal"

resource_group_name             = "rg-eshoplite-dev-jpe"
acr_name                        = "acreshoplitedev01"
log_analytics_workspace_name    = "law-eshoplite-dev-01"
key_vault_name                  = "kv-eshoplite-dev-01"
sql_server_name                 = "sql-eshoplite-dev-01"
sql_database_name               = "sqldb-eshoplite-dev-01"
containerapps_environment_name  = "cae-eshoplite-dev-01"
store_managed_identity_name     = "uai-eshoplite-store-dev-01"
products_managed_identity_name  = "uai-eshoplite-products-dev-01"
openai_account_name            = "oai-eshoplab-dev"
openai_resource_group_name     = "rg-eshop-lab-dev"
storage_account_name            = "steshoplitedev01"

sql_admin_username = "sqladminuser"

additional_tags = {
  ReleaseTrack = "development"
}

admin_object_id = "691b0002-2314-498a-b55d-9cd84cc517d9"
